* {
    margin: 0;
}

header {
    background-image: url("designs/design-assets/bgk-header.png");
    height: 650px;
}

#team-section {
    background-image: url("designs/design-assets/bgk-header.png");
    height: 650px;
}

.white-print {
    color: white;
}

#upper-header-line {
    display: flex;
    justify-content: space-around;
}

#branding {
    display:flex;
    align-items: center;
}

#company-name {
    color: #00e0d0;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: lighter;
    margin: 10px;
}

#nav-container {
    font-size: 13px;
    letter-spacing: 0px;
    color: #00e0d0;
    font-weight: 900;
    font-family: "Roboto";
    text-align: right;
    padding: 20px;
}

#nav-container > span > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 30px;  /* WHY DOES THIS NOT SHOW??*/
    margin: 10px;
}

#nav-container > span > a:active {
    color: #00e0d0;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}


h1 {
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Playfair Display";
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
    padding-top: 60px;
}

hr {
    width: 4%;
    background-color: #00e0d0;
    border-color: #00e0d0;
}

p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: "Roboto";
    padding: 20px;
}

#team-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.team-member {
    margin: 10px;
    border: 1px solid white;
}

p.team-caption {
    text-align: center;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: "Roboto";
    padding: 0;    /*Styling aus unspezifischerem Selektor muss aktiv überschrieben werden - weglassen gilt nicht!*/
}

.light-weight {
    opacity: 0.6;
}

.without-padding {
    display: flex;
    justify-content: center;
}

input {
    background-color: transparent;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400;
    font-family: "Hammersmith One";
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #00e0d0;
    }

